<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Archivo</title>
    <link rel="stylesheet" href="css/update.css">
</head>
<body>
    <div class="container">
        <h1>Actualizar Archivo</h1>
        <form id="updateForm" enctype="multipart/form-data">
            <input type="hidden" id="fileId" name="fileId" value="">
            
            <!-- Campos para mostrar la información actual del archivo -->
            <label for="currentFilename">Nombre:</label>
            <input type="text" id="currentFilename" name="currentFilename" readonly>

            <label for="currentSize">Peso Actual:</label>
            <input type="text" id="currentSize" name="currentSize" readonly>

            <label for="currentDescription">Descripción:</label>
            <input type="text" id="currentDescription" name="currentDescription" readonly>

            <label for="currentMimetype">Tipo de Archivo Actual:</label>
            <input type="text" id="currentMimetype" name="currentMimetype" readonly>

            <label for="currentUser">Usuario de Subida de Archivo:</label>
            <input type="text" id="currentUser" name="currentUser" readonly>

            <label for="description">Nueva Descripción:</label>
            <input type="text" id="description" name="description">

            <label for="file">Nuevo Archivo (debe tener el mismo nombre y tipo):</label>
            <input type="file" id="file" name="file">

            <button type="submit">Actualizar</button>
            <button type="button" id="cancelButton" class="cancelButton">Cancelar</button>
        </form>
    </div>
    <script src="js/update.js"></script>
</body>
</html>
