<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Archivo</title>
    <link rel="stylesheet" href="/css/update.css">
</head>

<body>
    <div class="container">
        <h1>Actualizar Enlace</h1>
        <form id="updateForm" enctype="multipart/form-data">
            <input type="hidden" id="linkId" name="linkId" value="">
            <!-- Campos para mostrar la información actual del archivo -->
            <div id="nombre">
                <label for="currentLinkname">Nombre:</label>
                <input type="text" id="currentLinkname" name="currentLinkname" readonly>
            </div>
            <div id="link">
                <label for="currentURL">Enlace Actual:</label>
                <input type="text" id="currentURL" name="currentURL" readonly>
            </div>
            <div id="descripcion">
                <label for="currentDescription">Descripción Actual:</label>
                <input type="text" id="currentDescription" name="currentDescription" readonly>
            </div>
            <div id="usuario">
                <label for="currentUser">Usuario de Subida de Enlace:</label>
                <input type="text" id="currentUser" name="currentUser" readonly>
            </div>
            <div id="nuevadescripcion">
                <label for="description">Nueva Descripción:</label>
                <input type="text" id="description" name="description">
            </div>
            <div id="nuevolink">
                <label for="url">Nuevo Enlace:</label>
                <input type="text" id="url" name="url">
            </div>
            <div id="nuevonombre">
                <label for="name">Nuevo nombre de Enlace:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="hoursToExpire">Horas hasta expirar (opcional):</label>
                <input type="number" id="hoursToExpire" name="hoursToExpire" min="1"
                    placeholder="Horas hasta expirar...">
            </div>
            <button type="submit">Actualizar</button>
            <button type="button" id="cancelButton" class="cancelButton">Cancelar</button>
        </form>

        <h1>Archivo expira en:</h1>
        <div id="countdown"></div>
    </div>
    <script src="/js/links/update.js"></script>
</body>

</html>